SOA/AssetBalance/xsd/GetAssetBalanceRequest.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema targetNamespace="http://www.tigo.com/GetAssetBalance" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tigo.com/GetAssetBalanceRequest">
   <xsd:element name="GetAssetBalanceRequest">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="requestBody">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="msisdn" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
